@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Pacifico&display=swap');

:root {
    --primary: #A8D5BA;
    --secondary: #e6d3b1dd;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Pacifico';
}

body {
    margin: 0px;
    background-color: var(--primary);
}

main {
    width: 100%;
    min-height: 100dvh;
    padding-top: 70px;
}

section {
    background-color: white;
    width: 100%;
    padding: 0px 5%;
}

header {
    background-color: var(--secondary);
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    position: fixed;
    z-index: 2;
}

nav {
    width: 100%;
    padding-top: 18px;
}

nav a {
    color: black;
    font-size: 30px;
    font-family: 'Fugaz';
    padding-right: 34px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(246, 166, 38);
    text-decoration: underline 2px;

}

.contacteaza {
    background-color: rgb(235, 255, 206);
    width: 13%;
    position: absolute;
    top: 10px;
    right: 100px;
    height: 50px;
    border: 3px solid rgb(64, 179, 51);
    border-radius: 15px;
}

.contacteaza2 {
    display: none;
}

.contacteaza a {
    font-family: 'Pacifico';
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.contacteaza a:hover {
    color: rgb(0, 51, 255);
    text-decoration: underline 2px;
}

.contact-icon {
    padding-bottom: 1.5px;
    padding-right: 10px;
    animation: anim 2s 3s infinite;
}

.logo {
    width: 8%;
    border-radius: 55%;
    margin: 0px 25px;
    float: left;
    padding-top: 8px;
    animation: anim 2s 3s infinite;
}

.fundal {
    width: 100%;
    height: 640px;
}

.index-h1 {
    width: 60%;
    padding-top: 70px;
    position: absolute;
    top: 50px;
    left: 36%;
    font-size: 45px;
    filter: drop-shadow(7px 7px rgba(248, 174, 0, 0.323));

}

.index-h11 {
    width: 35%;
    padding-top: 120px;
    position: absolute;
    top: 110px;
    right: 170px;
    font-size: 45px;
    filter: drop-shadow(7px 7px rgba(248, 174, 0, 0.323));
}

.index-img1 {
    width: 50%;
    position: absolute;
    top: 150px;
    left: 60px;
    border-radius: 50%;
    /* box-shadow: gray 10px 10px 30px 10px; */
}

.index-img2 {
    width: 10%;
    position: absolute;
    top: 450px;
    right: 110px;
    border-radius: 20px;
}

.index-section {
    padding: 0;
    height: 650px;
}

.footer {
    background-color: var(--secondary);
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    margin-top: -25px;
    font-family: 'Fugaz';
}

.index-fundal {
    margin-bottom: 0;
    height: 640px;
}

.custom-shape-divider-bottom-1765805841 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765805841 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1765805841 .shape-fill {
    fill: white;
}

.index-p {
    margin-top: 25px;
    text-align: center;
    color: black;
    font-size: 26px;
    width: 100%;
}

.copy {
    width: 16px;
    margin-top: 30px;
}

.buton {
    position: absolute;
    border-radius: 15px;
    background-color: var(--secondary);
    top: 400px;
    left: 53%;
    padding: 5px 5px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Pacifico';
}

.buton1 {
    position: absolute;
    border-radius: 15px;
    background-color: var(--secondary);
    top: 400px;
    left: 65%;
    padding: 5px 5px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Pacifico';
}

.buton2 {
    position: absolute;
    border-radius: 15px;
    background-color: var(--secondary);
    top: 400px;
    left: 75%;
    padding: 5px 5px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Pacifico';
}

.buton:hover {
    color: blue;
}

.buton1:hover {
    color: yellow;
}

.buton2:hover {
    color: red;
}

.centered {
    font-family: 'Pacifico';
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.despre-p {
    font-family: 'Fugaz';
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;

}

.index-photo {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin-top: 70px;
}

.index-slide {
    position: relative;
    height: 500px;
    width: 80%;
    margin: 0px auto;
}

.despre-img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: gray 0px 5px 15px 10px;
}

.index-maps {
    padding-left: 30px;
    display: inline-block;
    width: 48%;
    margin-bottom: 15px;
}

.index-maps iframe {
    width: 100%;
    height: 350px;
    box-shadow: gray 0px 5px 15px 10px;
    border-radius: 20px;
}

.adrese {
    margin-left: 2;
    display: inline-block;
    font-family: 'Fugaz';
    font-size: 20px;
    width: 48%;
    vertical-align: top;
    padding-top: 45px;
    background-color: rgba(210, 244, 244);
    margin-right: 25px;
    height: 350px;
    border-radius: 20px;
    box-shadow: gainsboro 0px 7px 8px 10px;
}

.adrese a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.adrese a:hover {
    text-decoration: underline;
    color: blue;
}

.index-despre {
    padding-top: 150px;
}

.index-contacte {
    padding-right: 45px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-left: 45px;
    padding-bottom: 15px;

}

.index-icons {
    margin-right: 10px;
    margin-left: 10px;
    animation: anim 3s 3s infinite;
}

.slide-p {
    position: relative;
    bottom: 180px;
    left: 50px;
    font-family: 'Fugaz';
    color: rgb(255, 255, 255);
    width: 90%;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.438);
    border-radius: 15px;
}

.main {
    padding-top: 65px;
    width: 68%;
    margin: 0 15%;
}

.profil {
    margin-top: 5px;
    padding-bottom: 0;
    padding-top: 25px;
    text-align: center;
}

.p-1 {
    font-family: 'Fugaz';
}

.p-2 {
    font-family: 'Fugaz';
}

.poza-date {
    width: 25%;
    height: 310px;
    float: left;
    border-radius: 15px;
    margin-right: 50px;
}

.date-p {
    width: 100%;
    text-align: center;
}

.activitate {
    text-align: center;
    padding-left: 80px;
}

.div-despre {
    text-align: center;
}

.div-despre h1 {
    padding-top: 30px;
}

.div-despre1 {
    margin-top: 55px;
}

video {
    width: 80%;
    margin: 30px 10%;
    border-radius: 15px;

}

.fundal-3 {
    width: 100%;
    height: 570px;
}

.despre-fundal-3 {
    height: 600px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.slide-h3-p {
    position: relative;
    bottom: 500px;
    left: 70px;
    font-family: 'Fugaz';
    color: rgb(0, 0, 0);
    width: 50%;
    text-align: center;
}

.concluzie {
    position: relative;
    bottom: 540px;
    left: 450px;
    font-family: 'Fugaz';
    color: rgb(0, 0, 0);
    width: 35%;
    text-align: center;
}


.slide-concluzie {
    position: relative;
    bottom: 550px;
    left: 370px;
    font-family: 'Fugaz';
    color: rgb(0, 0, 0);
    width: 50%;
    font-size: 16px;
    text-align: center;
}

.galerie-container {
    margin-top: -25px;
}

.galerie-container h1 {
    padding-top: 15px;
}

.servicii-galerie {
    display: flex;
    border-bottom: 2px solid var(--primary);
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transition: transform 0.3s;
    padding-bottom: 30px;
}

.servicii-galerie2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transition: transform 0.3s;
    padding-bottom: 30px;
}

.servicii-galerie img,
.servicii-galerie2 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 25px;
}

#hamburger {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 70px;
    top: 17px;
    cursor: pointer;
    display: none;
}

@keyframes anim {
    0% {
        transform: scale(100%);
    }

    25% {
        transform: scale(120%);
    }

    50% {
        transform: scale(130%);
    }

    75% {
        transform: scale(120%);
    }

    100% {
        transform: scale(100%);
    }
}

@media (max-width:1320px) {
    .contacteaza {
        display: none;
    }

    .contacteaza2 {
        display: block;
        position: absolute;
        right: 8%;
        top: 20px;
        padding: 0;
        border: none;
        border-radius: 50%;
        color: none;
        width: 30px;
        height: 30px;
    }

    .contact-icon {
        width: 30px;
        padding-bottom: 0;
        padding-right: 0;
    }

}

@media (max-width:800px) {
    #hamburger {
        display: block;
        right: 100px;
        top: 22px;
    }

    html {
        font-size: 16px;
    }

    header {
        padding: 0;
    }

    nav {
        display: none;
    }

    nav a {
        position: relative;
        padding: 0;
        left: 55px;
    }

    nav.mobile {
        display: block;
        width: 40%;
        position: absolute;
        left: 20%;
        padding: 0px;
    }

    .logo {
        width: 100px;
        margin: 0;
        padding-left: 5px;
        padding-top: 13px;
    }

    section {
        padding: 0px 10px;
    }

    .contacteaza {
        display: none;
    }

    .contacteaza2 {
        display: block;
        position: absolute;
        right: 55px;
        padding: 0px;
        border: none;
        top: 27px;
        border-radius: 50%;
        color: none;
        width: 20px;
        height: 20px;
    }

    .contact-icon {
        width: 20px;
        padding-bottom: 0;
        padding-right: 0;
    }

    .index-maps {
        width: 95%;
        height: 310px;
        display: block;
        padding-top: 5%;
    }

    .index-maps iframe {
        width: 100%;
        height: 250px;
        top: 10%;
    }

    .adrese {
        display: block;
        font-size: 18px;
        width: 90%;
        height: 250px;
        padding-top: 5px;
        margin-left: 30px;
        margin-right: 0;
        text-align: center;
    }

    .buton,
    .buton1,
    .buton2 {
        display: block;
    }

    .buton {
        left: 15%;
    }

    .buton1 {
        left: 35%;
    }

    .buton2 {
        left: 53%;
    }

    .index-h1 {
        position: absolute;
        font-size: 30px;
        width: 40%;
        left: 20%;
        top: 100px;
        text-align: center;
    }

    .index-h11 {
        position: absolute;
        font-size: 25px;
        width: 80%;
        right: 20%;
        top: 27%;
        text-align: center;
    }

    .index-img1 {
        top: 130px;
        height: 220px;
        width: 100%;
        left: 15%;
    }

    .fundal {
        height: 550px;
    }

    .index-fundal {
        height: 550px;
    }

    .index-section {
        height: 550px;
    }

    .index-img2 {
        top: 65%;
        width: 15%;
        right: 120px;
        display: block;
    }

    .custom-shape-divider-bottom-1765805841 {
        position: relative;
        bottom: 10%;
    }

    .custom-shape-divider-bottom-1765805841 svg {
        height: 50px;
    }

    .index-despre {
        padding-top: 15px;
    }

    .index-photo {
        margin: 0;
        width: 90%;
        padding-left: 8%;
        height: 300px;
    }

    .index-slide {
        width: 100%;
        height: 300px;
    }

    .despre-img {
        width: 100%;
        height: 300px;
    }

    .slide-p {
        font-size: 18px;
        position: absolute;
        bottom: 10%;
        left: 5%;
    }

    .main {
        width: 100%;
        margin: 0;
    }

    .index-contacte {
        padding: 20px;
    }

    .activitate {
        width: 100%;
        padding: 0;
    }

    .poza-date {
        display: block;
        width: 60%;
        height: 310px;
        margin: 0 20% 7%;

    }

    .div-despre1 {

        text-align: center;
    }

    .despre-fundal-3 {
        height: 470px;
    }

    .fundal-3 {
        height: 470px;
    }

    .slide-h3-p {
        width: 60%;
        bottom: 420px;
        left: 30px;
        font-size: 10px;
    }

    .concluzie {
        width: 60%;
        bottom: 420px;
        left: 30%;
        font-size: 10px;
    }

    .slide-concluzie {
        width: 60%;
        bottom: 420px;
        left: 30%;
        font-size: 10px;
    }

    .galerie-container {
        text-align: center;
    }

    .servicii-galerie {
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .centered {
        margin: 30px;
        padding: 0;

    }
}

@media (max-width:451px) {

    .index-h1 {
        width: 80%;
        font-size: 20px;
        top: 29%;
        left: 35px;
    }

    .index-h11 {
        width: 50%;
        font-size: 20px;
        top: 32%;
        left: 95px;
    }

    .index-img1 {
        top: 150px;
        height: 210px;
        width: 75%;
        left: 25%;
    }

    .index-img2 {
        top: 50%;
        width: 20%;
        right: 15%;
        display: block;
    }

    .index-maps {
        padding-left: 0;
    }

    .slide-h3-p {
        font-size: 10px;
    }

    .concluzie {
        left: 95px;
    }

    .slide-concluzie {
        left: 85px;
        width: 66%;
        font-size: 10px;
    }

    .buton,
    .buton1,
    .buton2 {
        display: none;
    }

    .adrese {
        display: block;
        font-size: 13px;
        width: 95%;
        height: 210px;
        padding-top: 5px;
        margin-left: 10px;
        padding-right: 5px;
    }

    .index-maps {
        width: 97%;
        height: 310px;
        display: block;
        padding-top: 15%;
        padding-left: 10px;
    }

    .index-maps iframe {
        width: 100%;
        height: 250px;
        top: 15%;
    }

}

@media (max-width:400px) {

    .index-h1 {
        width: 80%;
        font-size: 20px;
        top: 30%;
        left: 35px;
    }

    .index-h11 {
        width: 50%;
        font-size: 20px;
        top: 33%;
        left: 90px;
    }

    .index-img1 {
        top: 130px;
        height: 210px;
        width: 80%;
        left: 20%;
    }

    .index-img2 {
        top: 56%;
        width: 20%;
        right: 15%;
        display: block;
    }

    .buton,
    .buton1,
    .buton2 {
        display: none;
    }

    .adrese {
        display: block;
        font-size: 13px;
        width: 95%;
        height: 210px;
        padding-top: 5px;
        margin-left: 10px;
        padding-right: 5px;
    }

    .index-maps {
        width: 97%;
        height: 310px;
        display: block;
        padding-top: 15%;
        padding-left: 10px;
    }

    .index-maps iframe {
        width: 100%;
        height: 250px;
        top: 15%;
    }
}

@media (max-width:380px) {
    .index-h1 {
        top: 35%;
    }

    .index-h11 {
        top: 39%;
    }

    .index-img2 {
        top: 67%;
    }
}

@media (max-width:365px) {
    .index-h1 {
        top: 33%;
    }

    .index-h11 {
        top: 36.5%;
    }

    .index-img2 {
        top: 63%;
    }
}

@media (max-width:350px) {
    .index-h1 {
        top:28%;
    }

    .index-h11 {
        top: 30.9%;
    }

    .index-img2 {
        top: 53%;
    }
}